.lineart {
    position: relative;
    width: 200px;
    max-width: 100%;
}

.lineart img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .lineart:hover img.image-hover {
    opacity: 1;
  }

.laprops {
    position: fixed;
    bottom: 0px;
    right: 0px;
    max-height: 100%;
    max-width: 100%;
}

.resize {
    display: flex;
    height: 300px;
    width: auto;
}

.resize1 {
    display: flex;
    height: 300px;
    width: 825px;
}

.resize2 {
    display: flex;
    height: 300px;
    width: 310px;
}

#rsprops { 
    max-width: 100%;
    max-height: 100%;
}

.logo {
    display: flex;
    justify-content: right;
    position: absolute;
    height: 45.75px;
    width: 50px;
}

.logoprops {
    max-width: 100%;
    max-height: 100%;
}

#new {
    height: 45.75px;
    width: 50px;
}

.props {
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 100%;
    display: flex;
}

.imgprops {
    max-width: 100%;
    max-height: 100%;
}

/*<div class="title">
        <div class="typewriter">
            <h1>Hannah Choi</h1>
        </div>
    </div>*/

.title {
    display: flex;
    justify-content: left;
    position: absolute;
    top: 0em;
    left: 1em;
}

.typewriter h1{
    font-family: 'Fjalla One', sans-serif;
    color:rgb(66, 66, 66);
    font-size: 50px;
    overflow: hidden;
    border-right: .1em solid rgba(0, 0, 0, 0);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1em;
    animation: typing 1.5s steps(30, end),
               blink-caret 2s step-end 3;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
 /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent }
}

footer{
    position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 22px;
     background-color: rgba(132, 132, 132, 0.763);
     color: white;
     text-align: center;
     padding-bottom: 1.5em;
  }

  .hammer {
    content: "\2692";
  }

i.fab {
    font-size: 50px;
    color: black;
    position: relative;
}

.move {
    display: flex;
    justify-content: right;
    position: sticky;
    bottom: 0.2em;
    left: 100em;
    height: 50px;
    width: 50px;
}

